html,body{
    width:100%;
   overflow-x: hidden;
   color:#191A35;
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 18px; } h3 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 21px; } blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, 
      sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

#main{
     width:100%;
}
#Titlecontainer{
   float:left;
     width:98.5%;
     height:500px;
     background-color:#E3E3E3;
     display:flex;
     text-align: center;
   
     margin-left:10px;
}
#Titlecontainer h1{
   width:100%;
   font-weight: lighter;
   position: absolute;
   top:20%;
   font-family: novecento-sans, sans-serif;
   font-style: normal;
   font-size:34px;
   color:#434AF9;
}
#Titlecontainer p{
   width:440px;
   position: absolute;
   top:35%;
   left:35%;
   font-size: 20px;
   line-height: 1.5;

}
#cammeracontainer{
   float:left;
     width:100%;
     margin-top:10px;
     display:flex;
}
#cammera{
   float:left;
   width:40%;
   height:400px;
   margin-left:20px;
   margin-top:20px;
   border:1px solid black;
}

#textcontainer{
   float:left;
   width:50%;
   margin-top:120px;
  margin-left:40px;
}
#textcontainer h1{
   float:100%;
   font-weight: lighter;
    margin-left:60px;
}
#textcontainer p{
   float:left;
   width:500px;
   line-height: 1.5;
   margin-right:10px;
}
#harddrivecontainer{
   float:left;
   width:100%;
   display:flex;
}
#hard-drive-textcontainer{
   float:left;
   width:50%;
   margin-top:80px;
   margin-left:20px;
   
}
#hard-drive-textcontainer h1{
   float:left;
   font-weight: lighter;
   margin-left:120px;
}
#hard-drive-textcontainer p{
   float:left;
   width:500px;
   line-height: 1.5;
    margin-left:30px;
}
#harddrive{
   float:left;
    width:40%;
   height:400px;
   margin-top:60px;
   border:1px solid black;
}


#lorem{
   float:left;
   width:100%;
   display:flex;
   justify-content: center;
   margin-top:10px;

}
#lorem1{
   float:left;
   width:25%;
   height:550px;
   text-align: center;
   margin:10px 0px 10px 10px;
   background-color: #F2F2F2;
}
#box{
    width:50%;
    height:150px;
    border: 1px solid black;
    margin:40px  0px 20px 80px;
    background-color:white;
}
#lorem1 p{
   width:85%;
   margin:10px 10px 10px 20px;
   line-height: 1.5;

}
#viewpricing{
   float:left;
   color:white;
   background-color:#191A35;
   padding:10px;
   border:none;
   margin-left:110px;
   margin-top:60px;
   box-shadow: 2px 2px #888888;
}